@import '../../styles/variables';

.toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding-bottom: 4px;
  color: var(--text-primary);
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.2s ease;

  &:hover {
    color: var(--accent);
  }

  svg {
    width: 30px;
    height: 30px;
  }
}