@import '../../styles/variables';

.text {
  margin: 0;
  font-style: normal;

  &__view {

    &--title {
      font-size: $size-44;
      line-height: $size-48;
      font-weight: $font-700;
    }

    &--subtitle {
      font-size: $size-32;
      line-height: $size-36;
      font-weight: $font-700;
    }

    &--button {
      font-size: $size-18;
      line-height: $size-18;
      font-weight: $font-400;
      letter-spacing: 0;
    }

    &--p-20 {
      font-size: $size-20;
      line-height: $size-24;
      font-weight: $font-400;
    }

    &--p-18 {
      font-size: $size-18;
      line-height: $size-22;
      font-weight: $font-400;
    }

    &--p-16 {
      font-size: $size-16;
      line-height: $size-20;
      font-weight: $font-400;
    }

    &--p-14 {
      font-size: $size-14;
      line-height: $size-18;
      font-weight: $font-400;
    }
  }

  &__weight {

    &--normal {
      font-weight: $font-400;
    }

    &--medium {
      font-weight: $font-500;
    }

    &--bold {
      font-weight: $font-700;
    }
  }

  &__color {

    &--primary {
      color: $primary;
    }

    &--secondary {
      color: $secondary;
    }

    &--accent {
      color: $accent;
    }

    &--danger{
      color: $danger;
    }
  }
}