@import '../../styles/variables';
@import '../../styles/mixin';

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $size-14;
  margin-top: $size-24;
  flex-wrap: wrap;
  border: none;


  &__arrow {
    background: none;
    border: none;
    cursor: pointer;
    padding: $size-12;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: color 0.2s ease;

    &:disabled {
      opacity: 0.3;
      cursor: default;
    }

    &:hover {
      color: $accent;
    }

    svg {
      width: $size-20;
      height: $size-20;
    }
  }

  &__page--button {
    background: none;
    border: none;
    padding: $size-12 $size-12;
    min-width: $size-32;
    text-align: center;
    cursor: pointer;
    transition: color 0.2s ease;

    &:hover:not(.active) {
      color: $accent;
    }

    &.active {
      background: $accent;
      color: $white;
      border-color: $accent;
    }
  }

  &__dots {
    padding: $size-12 $size-14;
    color: $secondary;
  }
}