@import '../../styles/variables';

.input {
  position: relative;
  display: inline-block;
  min-width: $size-300;
  box-sizing: border-box;
  font-size: $size-24;
  font-weight: $font-400;
  line-height: 1.5;

  &__field {
    box-sizing: border-box;
    font-size: $size-14;
    font-weight: $font-400;
    line-height: 1.5;
    width: 100%;
    height: $size-52;
    padding: $size-8 $size-16;
    padding-right: $size-40;
    border: 1px solid $white;
    color: $primary;
    background-color: $white;
    outline: none;
    transition: border-color 0.3s ease;

    &::placeholder {
      color: $secondary;
      font-size: $size-14;
    }

    &:hover:not(:disabled) {
      border-color: $accent;
      background-color: $white;
    }

    &:focus {
      border-color: $accent;
      background-color: $white;
    }
  }


  &__after {
    position: absolute;
    right: $size-12;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;


    svg {
      display: block;
      width: $size-28;
      height: $size-28;
    }


    &--disabled &__field {
      background-color: $white;
      color: $input-text-disabled;
      cursor: not-allowed;
    }

    &--disabled &__after {
      color: $secondary;
    }
  }
}