@import '../../styles/variables';

.button {
    background: none;
    border: none;
    cursor: pointer;
    padding: $size-4;
    color: $secondary;
    width: $size-30;
    height: $size-30;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease;

    .icon path {
        fill: currentColor
    }

    &:hover,
    &.active{
        color: $accent;
    }
}