@import '../../styles/_variables.scss';

.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height:  $size-400;
    gap: $size-20;
    text-align: center;

    &__button {
        padding: $size-20;
        color: var(--text-primary);
        background-color: $accent;
        border-radius: $size-4;
        text-decoration: none;

        &:hover{
             background-color: $accent-active;
        }
    }
}