@import '../../shared/styles/variables';
@import '../../shared/styles/mixin';

.root {
  margin: 0 auto;
  max-width: 1440px;
  padding-left: $size-100;
  padding-right: $size-100;
  padding-bottom: 112px;
  padding-top: 190px;

  @include small-desktop {
    padding-left: $size-40;
    padding-right: $size-40;
    padding-top: $size-140;
    padding-bottom: $size-80;
  }

  @include tablet {
    padding-left: $size-40;
    padding-right: $size-40;
    padding-top: $size-140;
    padding-bottom: $size-80;
  }

  @include small-tablet {
    padding-left: $size-24;
    padding-right: $size-25;
    padding-top: $size-140;
    padding-bottom: $size-80;
  }

  @include mobile {
    padding-left: $size-12;
    padding-right: $size-12;
    padding-top: $size-60;
    padding-bottom: $size-40;
  }

  &__header {
    text-align: center;
  }

  &__title--text {

    @include mobile {
      font-size: $size-30;
      margin-top: 0;
    }
  }

  &__subtitle {
    display: inline-block;
    max-width: 654px;
    margin-top: $size-32;

    @include mobile {
      margin-top: 0;
      max-width: 100%;
      margin-top: $size-16;
      font-size: $size-14;
    }
  }

  &__search--section {
    margin-top: $size-50;
    max-width: 1240px;
    margin-bottom: $size-36;

    @include mobile {
      margin-top: $size-20;
    }
  }

  &__search--bar {
    display: flex;
    gap: $size-16;
    width: 100%;
  }

  &__input--container {
    flex: 1;
    max-width: 1078px;
    display: flex;
    justify-content: center;
  }

  &__search--input {
    width: 100%;
    min-width: 0;

  }


  &__search--button {
    flex-shrink: 0;
    width: 136px;

    @include tablet {
      max-width: 120px;
    }

    @include mobile {
      max-width: $size-90;
      font-size: $size-14;
      padding: $size-8 $size-12;
    }
  }

  &__dropdown--container {
    margin-top: $size-24;
    margin-bottom: $size-24;
  }

  &__price--rating--container {
    margin-top: 0;
    margin-bottom: $size-32;
  }

  &__total--products {
    margin-top: 0;
    margin-bottom: $size-48;
    max-width: 272px;
    max-height: $size-36;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mobile {
      margin-bottom: $size-24;
      max-width: 100%;
      justify-content: space-between;
    }
  }


  &__grid__container {
    margin-top: $size-36;

    @include mobile {
      margin-top: $size-20;
    }
  }

  &__empty--grid {
    width: 100%;
    text-align: center;
    min-height: $size-50;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3);
    gap: $size-30;

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      gap: $size-20;
    }

    @include mobile {
      grid-template-columns: 1fr;
      gap: $size-16;
      justify-items: center;
    }
  }

  &__card--actions {
    display: flex;
    align-items: center;
    gap: $size-18;
  }

  &__pagination--container {
    margin-top: 64px;
    display: flex;
    justify-content: center;

    @include tablet {
      margin-top: $size-50;
      text-align: center;
    }
  }

}

.error--container {
  margin: $size-100 auto;
  display: flex;
  justify-content: center;
}

.loader--container {
  margin: 350px auto;
  display: flex;
  justify-content: center;
}