@import '../../../shared/styles/variables';
@import '../../../shared/styles/mixin';

.root {
    max-width: 1440px;
    margin: 0 auto;


    &__go-back--button {
        margin-top: $size-60;
        max-height: $size-48;
        background: none;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: $size-25;
        margin-left: $size-100;
        color: var(--text-primary);

        @include tablet {
            max-height: $size-30;
            margin-left: $size-50;
            margin-top: $size-30;
        }

        @include mobile {
            max-height: $size-20;
            margin-left: $size-20;
        }
    }

    &__go-back--text {
        @include mobile {
            font-size: $size-14;
        }

        @include tablet {
            font-size: $size-16
        }
    }

    &__arrow-side-icon {
        transform: rotate(90deg);
        width: $size-32;
        height: $size-32;

        @include tablet {
            width: $size-26;
            height: $size-26;
        }

        @include mobile {
            width: $size-20;
            height: $size-20;
        }
    }

    &__product--container {
        margin-top: $size-32;
        margin-left: $size-100;
        margin-bottom: $size-48;
        display: flex;
        flex-direction: column;

        @include tablet {
            margin-left: $size-50;
        }

        @include desktop {
            margin-left: $size-32;
            margin-right: $size-20;
        }

        @include mobile {
            margin-left: $size-20;
            margin-right: $size-20;
        }
    }

    &__main--container {
        display: flex;
        flex-direction: row;

        @include small-desktop {
            flex-direction: column;
        }

        @include tablet {
            flex-direction: column;
        }

        @include mobile {
            flex-direction: column;
        }
    }

    &__image--container {
        max-width: $size-600;
        max-height: $size-600;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        @include small-desktop {
            max-width: 80%;
            margin: 0 auto;
        }

    }

    &__product--image {
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    &__description--container {
        margin-left: $size-48;
        margin-right: $size-38;
        flex: 1;
        gap: $size-16;

        @include small-desktop {
            margin-top: $size-20;
            margin-left: 0;
        }

        @include tablet {
            margin-top: $size-20;
            gap: $size-14;
            margin-left: 0;
        }

        @include small-tablet {
            margin-top: $size-20;
            gap: $size-16;
            max-width: 80%;
            margin-left: auto;
            margin-right: auto;
            margin-left: 0;
        }

        @include mobile {
            margin-left: $size-20;
            margin-right: $size-20;
            gap: $size-8;
            margin-top: $size-16;
            margin-left: 0;
        }
    }

    &__product--title {
        color: var(--text-primary);
        @include tablet {
            font-size: $size-20;
            gap: $size-12;
            line-height: 1.3;
        }

        @include small-desktop {
            font-size: $size-24;
            line-height: 1.2;
        }

        @include small-tablet {
            font-size: $size-20;
        }

        @include mobile {
            font-size: $size-18;
            gap: $size-8;
            line-height: 1.3;
        }
    }

    &__product--description {
        margin-top: $size-24;


        @include small-desktop {
            font-size: $size-20;
            margin-top: $size-20;
        }

        @include small-tablet {
            font-size: $size-16;
        }

        @include mobile {
            font-size: $size-14;
            margin-top: $size-14;
        }
    }

    &__rating{
        margin-top: 500px;
    }

    &__product--price {
        margin-top: $size-80;
        color: var(--text-primary);

        @include tablet {
            font-size: $size-20;
            margin-top: $size-20;
        }

        @include mobile {
            font-size: $size-18;
            margin-top: $size-14;
        }
    }

    &__rating {
        margin-top: $size-20;
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: $size-20;
        margin-top: $size-48;

        @include tablet {
            margin-top: $size-20;
        }
    }

    &__button {
        @include mobile {
            max-width: 150px;
            font-size: $size-14;
            padding: $size-8 $size-12;
        }
    }

    &__wish{
        margin-top: $size-30;
    }

    &__related {

        &--section {
            margin-top: $size-48;
        }

        &--title {
            margin-bottom: $size-30;
        }

        &--grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: $size-30;

            @include tablet {
                grid-template-columns: repeat(2, 1fr);
            }

            @include mobile {
                grid-template-columns: 1fr;
                justify-items: center;
            }
        }
    }

    &__card--actions {
        display: flex;
        align-items: center;
        gap: $size-18;
    }

    &--loader {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: $size-300;
    }
}