@import '../../styles/variables';

.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: $size-8 $size-16;
  font-size: $size-20;
  font-weight: $font-400;
  line-height: 1.5;
  height: $size-52;
  color: $white;
  background-color: $accent;
  border: none;
  cursor: pointer;
  user-select: none;
  gap: $size-14;
  transition: background-color 0.2s ease;


  &:active {
    background-color: $accent-active;
  }

  &:active:hover {
    background-color: $accent-active;
  }

  &:disabled {
    background-color: $button-primary-bg-disabled;
  }

  &:disabled:hover {
    background-color: $button-primary-bg-disabled;
  }

  &:hover {
    background-color: $button-primary-bg-hover;
  }

  & .loader-container {
    width: $size-16;
    height: auto;
    position: static;
    display: inline-block;
    align-items: center;
    justify-content: center;
  }

  & .loader {
    position: static;
    border-color: $white;
    border-top-color: transparent;
    top: auto;
  }

  &--loading-original-enabled:disabled,
  &--loading-original-enabled:disabled:hover,
  &--loading-original-enabled:disabled:active {
    background-color: $accent;
    cursor: default;
  }

  &--text {
    display: inline-flex;
    align-items: center;
  }
}